# Python deps
*.pyg
.venv-minted/

# PdfLaTeX deps
latex/
out/
figures/tikz/*.aux
figures/tikz/*.log
figures/tikz/*.out
figures/tikz/*.toc

# MacOS deps
.DS_Store

# Internal planning
*draft*
*prompt*
*todo*
*TODO*
